*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One',cursive;
}

body{
  background-color: #b9f2ff
}
.title{
  font-size: 65px;
  width: 100%;
  text-align: center;
  margin: 1% 0;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.container{
  margin: 0 20%;
  width: 60%;
  height: 580px;
}
.blocco{
  width: 185px;
  height:180px;
  background-color: white;
  display: inline-block;
  margin-right: 53px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}
.riga :last-child{
  margin-right: 0;
}
.riga{
  margin-bottom: 16px;
}
.imge{
  width: 150px;
  height: 155px;
  position: absolute;
  left: 15px;
}
.img{
  opacity: 0;
  position: relative;
}
.blocco:hover .img{
  opacity: 1;
}
.pattern{
  background-image: url(../img/pattern.png);
  background-size: contain;
  width: 180px;
  height:178px;
  background-color: white;
  border-radius: 10px;
}
.blocco:hover .pattern{
  opacity: 0;
}
.footer{
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}
footer{
  width: 100%;
}
.text{
  font-size: 35px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
}
.submarine{
  position: absolute;
  bottom: -180px;
  left: 15px;
  color: blue;
}
.ship{
  position: absolute;
  bottom: -180px;
  left: 70px;
  color: lightblue;
}
.tractor{
  position: absolute;
  bottom: -180px;
  left: 40px;
  color: orange;
}
.tram{
  position: absolute;
  bottom: -180px;
  left: 50px;
  color: brown;
}
.air-baloon{
  position: absolute;
  bottom: -180px;
  left: 30px;
  color: pink;
  font-size: 30px;
}
.bicycle{
  position: absolute;
  bottom: -180px;
  left: 40px;
  color: yellow;
}
